venv/
**/__pycache__/
**/*.pyc

temp.md

# Generated output
visualizations/crime_map.html

# Too large for github
data/crime/Tucson_Police_Arrests-2018-to-2024.geojson
data/crime/Tucson_Police_Reported_Crimes.geojson